/*importing responsive table style */
@import "responsive-tables.css";

*{margin:0;padding:0;}
body{background: none repeat scroll 0 0 rgb(245, 245, 245);}
.silver{background:#afafaa!important;}
.gold{background:#a67f4e !important;}
.white{background:#fff!important;}
.golden-text{color: #a67f4e;}
h1, h2, h3, h4, h5,h6{color: rgb(34, 34, 34); font-family: "freight-text-pro",serif;font-style: normal;font-weight: 400;}
h1{font-size: 3rem; line-height: 4rem;}
h2{ font-size: 2.1rem;letter-spacing: 0.01em;}
h3{font-size: 2rem;letter-spacing: 0.02em;line-height: 2.5rem;}
.section-text{color: rgb(34, 34, 34);font-family: "ReplicaLight";font-size: 1rem;letter-spacing: 0.02em;line-height: 1.6em;margin-bottom: 16px;}
.section-text-1{color: rgb(34, 34, 34);font-family: "ReplicaLight";font-size: 1.2rem;letter-spacing: 0.02em;line-height: 1.6em;margin-bottom: 16px;}
.right{float: right !important;}
.detailBanner{width: 340px !important;}
.clearfix:after {visibility: hidden;display: block; font-size: 0;content: " ";clear: both;height: 0;}
ul{list-style:none;}
.menu li a{text-decoration:none;color:#fff;}
section{   margin-top: 90px;}
.button {-moz-appearance: none;background: none repeat scroll 0 0 rgb(0, 0, 0);border: medium none;border-radius: 0;box-shadow: none;box-sizing: border-box;color: rgb(255, 255, 255);cursor: pointer;margin: 1em 0.2em 1em 60px;padding: 8px 12px;transition: all 0.2s ease-in-out 0s;font-size: 15px;}
.button:hover{background: rgb(127,127,127);}
.link{ border-bottom: 1px solid transparent;color: #e46d07;display: inline-block;font-size: 0.9rem;font-weight: bold;line-height: 1.8rem;text-decoration: none;text-transform: uppercase;transition: all 0.2s ease-in-out 0s;width: 120px;}
.link:hover{text-decoration: underline;}
/* News */
.news, .page-wrapper{  padding-bottom: 90px;box-sizing: border-box;margin: 0 auto;width: 970px;}
.news .row{border-top: 1px solid rgb(214, 214, 214);padding: 24px 20px 30px;}
.news .row img{ float: left;height: 148px;margin-right: 40px;width: 325px;}
/* News Detail */
.news-detail{box-sizing: border-box;margin: 0 auto;width: 976px;margin-bottom: 72px;padding: 1%;}
.news-detail-wrapper{width: 600px;}
div#banner_image figure img {width: 100%;}
div#banner_image{height: auto; width: 100%;}

/* Full Width Page */
.fullwidthpage {
    margin-top: 90px;
}

/* About us */
.about-us{box-sizing: border-box;margin: 0 auto;width: 976px;margin-bottom: 72px;padding: 1%;}
.about-us-wrapper{width: 600px;}
.about-us h1{ margin-bottom: 15px;}
/* Contact Us */
.contact-us{box-sizing: border-box;margin: 0 auto;width: 976px;}
.contact-us-wrapper{width: 600px;}
.contact-us label{display: block;margin-bottom: 8px;}
.contact-us input{background: none repeat scroll 0 0 #fff;border: 0 none;display: block;margin-bottom: 15px;max-width: 470px; padding: 8px;width: 70%;}
.contact-us .label{font-weight: bold; margin-bottom: 8px;}
.contact-us .value{ margin-bottom: 16px;}
.contact-us .map{margin-bottom: 16px;}
.contact-us-form{margin-top: 60px;}

/* Home Page */
.home-page{overflow: hidden;width: 100%;margin-bottom:30px;}
.home-page h1{color: #fff;font-size: 1.8rem;letter-spacing: 4px;line-height: 3rem;text-transform: uppercase;}
.home-page h3{color: #888;font-family: "freight-text-pro",serif;font-size: 1rem;font-weight: 700;letter-spacing: 3px;line-height: 1em;margin-bottom: 5px;text-transform: uppercase;}
.home-page h2{  font-size: 1.4rem;font-weight: 600;line-height: 1.2em;}
.home-page .caption h2{color:#fff;}
.home-page .slide-box:first-child .caption h3{color:#fff;margin-top: 15px;}
/* Video section at homepage*/
#home_video{overflow: hidden;width:970px;background-color: #2a2a2a;margin-left: 1%;padding: 25px;position: relative;float: left;margin-bottom: 20px;}
#home_video h2{padding: 20px;text-align:center;font-size: 1.5rem;padding-top: 0;}
.tabs_container{ width:20%;border-right: 1px solid #dcdcdc;width: 20%;display: block;float: left;}
.tabs_container .menu > li > a {transition: all 0.2s ease-in-out 0s;background:#a67f4e;display: block;font-size: 15px;font-weight: bold;letter-spacing: 0.1em;line-height: 46px;margin-bottom: 5px;padding-left: 10px;}
.tabs_container .menu > li > a:hover{  background: #444;}
.mid_content{padding: 2px 15px;display: block;float: left;width: 35%;}
.mid_content p{color:#fff; line-height: 1.2em;}
.mid_content .link{color: #e0c12c;}
.video_container{display: block;float: left;width: 40%;position: relative;}
.video_container .caption p{color: #fff;font-size: 19px;padding: 10px 20px;position: absolute;}
.tab-slide-box{ opacity:0; z-index: 1; top: 25px;background: none repeat scroll 0 0 #fff;display: block;height: 250px;padding-right: 25px;position: absolute;left: 21.5%;width: 0;}
.slider-close{text-indent: -1000%;position: absolute;right:3px;top: 5px;height: 20px;width: 20px;background: url('../img/slider-close.png') no-repeat;}
.tab-slide_content{padding: 0 20px;display: block;float: right;height: 100%;overflow: auto;width: 60%;} 
.tab-slide_content ul{list-style-type:none}
.tab-slide_content li{display: block;margin-bottom: 8px;}
.tab-slide_content li a{color: #444;font-size: 1em;font-style: italic;text-decoration: none;}
.tab-slide_content li a:hover{text-decoration: underline;}
.tab-slide_search{ height: 100%;display: block;width: 30%;float:left;text-align:center;}
.tab-slide_search h2{}
.tab-slide_search input{border: 2px solid #ccc;color: #666;display: inline;font-family: "Francois One",sans-serif;height: 40px;margin: 0 auto 0 10px;text-align: center;width: 89%;}
.tab-slide_search  .button{ margin: 1em 0.2em 1em 1px;}
/* overwrite default styles of slick slider */
.home-page .slick-prev{width: 32px;height: 32px;background-repeat: no-repeat;background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAcpJREFUWIXF109vDVEYx/FPuxBFNXgFrVsNFsorEEuxrvBOvIImmr4AQvoSrIgFC7smElFiS0gkty0J4la0krE4M8k46vacmbnuL3k2M/Oc7+/8nedMSNdxXMMVXMAcpst33/AOG3iKh+WzTrSANfxAkRg7uI/5NuAjWMWvDHAce1jBVC78DN60AMfxCr1U+CVsdwivYguLKT0fBbxu4p8jcVS3wz5sOvZdE6v/AV7F7Ri+oPlq38TjzJw90VSstYCfxyE8yMy9V8Fn5B0ydfi5WidO4EtG/kB5kt7sAH4Mzxq0c105FDlJ/Y7gBe7A8zHBC6zD5wz42Q7hhXAw2R0TvMDPSWnaLKPSKcwm5h6oT4luX+BkLW8OHxJzh05BziLs2sT6pFBGpeointRMvMXl0kQTbcCNBs7jkZjF+wbtLBGKzZ0xmBgIuwmhgGwyh7GJlYzcu7U888Ivso2JWxk5uzgtUo77OD5mfr8cwwll+OsWJlLjJQ7vZ4BQpWyNEN4Xzo6hWhyRib5wpUtST6heuxz2A3sea0qoXpvujmq1Lxsy5ynqCVXTIAM8EPb5X1st1kSGkWlc9ef1fKZ891X4L1TX80f4ntLob4sJtQNBwK4VAAAAAElFTkSuQmCC)!important;}
.home-page .slick-next{width: 32px;height: 32px;background-repeat: no-repeat;background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAb9JREFUWIXF1z9PFEEYx/HPdaIi70EPKb3wEiwsjAmdBrT1Bdjbk0iQWiOh8iVoYyzoTGwEY6stOf8kGo+LoFmL2dVjPY6ZnT35JU9ze898fzvPPLMzHfG6gBu4iiu4iNny2Td8wA5e4ln5WytawBaGKCJjH5uYzwGfxTp+JoDrcYg1zKTCL+NdBrgeu+jGwhfxsUV4FX30Yt58GvBRE8fOxDntTvukcoxdE+v/AV7Fgzp8Qdpqf4pfGQYO1UqxlZB8r8y5k2niSQWfE7/JbKMzYvx2homBciddSUzcaNHELeVUpCY+rJlYaWjiEbxu6L4NE6/gc0MDhdC6OSb6cJBhYJyJ5QQTP9owUOCuo7qfYuBTJvyF8Omu1BNf1j7NF2Eu/M8ibNKGbcALZRsunxK8wE3CYXP/FOADnK8G2UxIXGoBXuDxyDjmhU9kTOIQ1zLhB7ikprWEAYb40hBeYLUOJ9T1bcagsfEGZ8YZIJxS+lOE7wk3qonqTcnEnnCli1JXOL22Oe0nvnldM8LpNbY7jlvtqybUPEZdYbseJIAHQp//02p1dU76w4hmcd3R6/lc+ewr3vt7PX+O7zGD/gYs9+U9/j5xmgAAAABJRU5ErkJggg==)!important;}
.home-page .slick-next:before,.home-page .slick-prev:before {content: none;}
.home-page .slick-disabled{display: none!important;}
.home-page .slick-slider{margin-bottom: 50px;}
/* Slider at the top */
.home-page .slider .slide-box img{width: 100%; height: 500px;}
.home-page .slider  .slide-box{overflow: hidden;height: 340px;position: relative;}
.home-page .slide-box .caption{ background-color: rgba(0, 0, 0, 0.7);border-bottom: 0 none;box-sizing: border-box;color: white;padding: 15px 20px;position: absolute;width: 100%;z-index: 5;}
.home-page .slide-box:not(:first-child) .caption{   bottom: 0; }
.home-page .slide-box:first-child .caption{text-align: center;top:0; padding-top: 100px;height: 100%;}
.home-page .slider  .slick-dots{text-align: left;left: 100px;}
.home-page .slider  .slick-dots li button:before{font-size: 30px;}
.home-page .slider  .slick-next{ right: 40px;}
.home-page .slider  .slick-prev{left: 40px;}
/* SLider at the bottom */
.home-page .slider-bottom{width: 260px;margin-right: 25px;padding-bottom: 50px;float: right;}
.home-page .slider-bottom h2{color: #666;}
.home-page .slider-bottom .slide-box-bottom { padding: 0 10px;}
.home-page .slider-bottom .slide-box-bottom img{height: 200px;width: 100%;}
.home-page .slider-bottom  .caption{margin-top: 10px;}
.home-page  .slider-bottom   .slick-prev{left: -27px;position: absolute;  top: 38%; }
.home-page  .slider-bottom .slick-next{ right: -24px;position: absolute;  top: 38%;}

/* navigation at the bottom */
.home-bottom-nav{width: 976px;margin: 0 auto;}
.home-bottom-nav ul{ padding: 1% 0 0 22%;width: 78%;}
.home-bottom-nav ul li{margin-left: 20px;width: 16%;display: inline-block;height: 42px;}
.home-bottom-nav ul li img{width: 100%;}

/* Footer */
footer{padding: 40px 0;margin: auto;width: 100%;background: url('../img/dark-linen.png');}
footer .menu{background-color: #2a2a2a;padding: 50px;width: 85%; margin: 0 auto;}
footer .menu .menu-items{float:left;  width: 240px;padding-right: 40px;}
footer .sub-menu img {width: 10em;}
footer .menu-items a{font-family:"Francois One",​sans-serif;font-size:14px;letter-spacing:1.2px}
footer .menu-items > a{ padding-bottom: 15px;display:block;font-weight:400;color: #f6b62a;text-transform:uppercase;}
footer .sub-menu a:hover{color:rgb(189,175,102);}
footer .sub-menu{font-family:"Francois One",​sans-serif;font-size:14px;letter-spacing:1.2px}
footer .sub-menu li{padding-bottom: 8px;}
footer .no-link .sub-menu{padding-bottom:8px;}
footer .no-link .sub-menu li{padding-bottom:0;}
footer .sub-menu h5{font-weight:400;color: #f6b62a;text-transform:uppercase;}
footer .sub-menu p{color:#fff;}

/* Navigation */
.header-nav{background: none repeat scroll 0 0 rgba(0, 0, 0, 0.85);height: 90px;position: fixed;top: 0;width: 100%;z-index: 99999;}
.header-nav .menu li{float:left;}
.header-nav .menu li a{  box-sizing: border-box;display: block;font-size: 1rem;font-weight: 600;height: 100%;letter-spacing: 0.1em;padding: 35px 10px;position: relative;text-decoration: none;text-transform: uppercase;transition: color 0.2s ease-in-out 0s;}
.header-nav .menu li a:hover{color:rgb(189,175,102);background:#000;}
.header-nav .logo{background: url("../img/logo.png") no-repeat scroll 0 0 / contain  rgba(0, 0, 0, 0);display: block;text-indent:-1000%;height: 62px;transition: background-color 0.2s ease-in-out 0s;width: 62px;}
.navigation{  margin: 0 auto;width: 970px;}
.header-logo{ float: left;margin-right: 50px;padding: 15px 0;}
.minimized_nav {transition: all 0.2s linear 0s;transform: translate3d(0px, -50px, 0px);}
.minimized_nav  .header-logo{transition: all 0.2s linear 0s;margin: 23px 0;transform: scale3d(0.49, 0.49, 1);}
.minimized_nav .menu{transition: all 0.2s linear 0s;height: 67px;transform: translate3d(0px, 25px, 0px);}
.minimized_nav .menu li a{ transition: all 0.2s linear 0s;padding: 35px 10px 10px;}
.header-nav .social_share{float: right;}
.header-nav .social_share ul li{float:left;}
.header-nav .social_share ul li a{color: #444;width:25px;padding: 0;margin: 35px 0;background: transparent!important;}
.header-nav .social_share ul li a:hover{color:#fff;}

/* Home Page Scroller */
a.scrollto {
    position: fixed;
    z-index: 10;
    height: 37px;
    width: 37px;
    top: 70%;
    text-indent: -100px;
    background-image: url("../img/arrow-211-512.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    transition: all 0.2s ease-in-out 0s;
}

a.scrollto:hover {
    background-image: url("../img/arrow-211-512-hover.png");
    background-color: #333;
    transition: all 0.2s ease-in-out 0s;
}
